.container {
    margin-top: 3rem;
    width: 40vw;
}

h1 {
    display: flex;
    justify-content: center;
}

.letterSpacing {
    display: flex;
    justify-content: center;
    letter-spacing: 1.5px;
}

.lowSize {
    font-size: small;
}

.svg {
    height: 10em;
    display: flex;
    justify-content: left;
}

.ng-select.custom ::ng-deep .ng-select-container {
    background-color: rgba(34, 87, 119, 0.2);
    min-height: 0px;
    border-radius: 28px;
    height: 50px;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    line-height: 38px;
    padding-left: 2.5rem;
}

::placeholder {
    opacity: 0.6;
}

.inputStyle {
    background-color: rgba(34, 87, 119, 0.2);
    min-height: 0px;
    border-radius: 28px;
    height: 50px;
    width: 100%;
    margin-bottom: 15px;
    padding-left: 3rem;
    font-size: medium;
}

/* il faut ajouter "node_modules/@ng-select/ng-select/themes/default.theme.css", dans le angular.Json // partie "style" */

.btnModele {
    font-size: 1rem;
    color: #ffffff;
    background-color: #225777;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    width: 12rem;
    height: 2.5rem;
    margin-bottom: 0.5rem;
}

.btnModeleRed {
    font-size: 1rem;
    color: #ffffff;
    background-color: #982312;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    width: 12rem;
    height: 2.5rem;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
}