<app-navbar></app-navbar>

<div
  class="d-flex flex-column align-items-center text-center container-principal"
>
  <div class="title" style="width: 80%; margin-top: 1.5rem;">
    <h1>Bienvenue sur Bébé Gourmet</h1>
    <h2>
      Votre guide simplifié pour la diversification alimentaire de votre bébé !
    </h2>
  </div>
  <div>
    <img src="../../../assets/immage_accueil.png" alt="" />
  </div>

  <div class="paragraphe">
    <p>
      <b>La diversification alimentaire peut être un défi pour tout parent. </b
      >Chez Bébé Gourmet, nous comprenons les inquiétudes et les questions qui
      peuvent surgir lorsque vous commencez à introduire de nouveaux aliments
      dans le régime de votre bébé. C'est pourquoi nous avons créé une
      plateforme conviviale et informative pour vous aider à chaque étape de ce
      voyage passionnant.
    </p>

    <p>
      Fini les devinettes ! Bébé Gourmet vous fournit une liste claire
      d'aliments appropriés à chaque âge, ce qui rend facile la sélection des
      options de repas pour votre petit trésor.
    </p>
    <p>
      Notre application est intuitive et facile à utiliser, même pour les
      parents les moins technophiles. Accédez rapidement aux informations dont
      vous avez besoin, quand vous en avez besoin.
    </p>

    <p>
      Simplifiez la diversification alimentaire avec Bébé Gourmet. Créez votre
      compte dès maintenant et commencez à nourrir votre bébé avec confiance !
    </p>
  </div>
</div>

<app-footer></app-footer>
