    #desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #logo {
        width: 20%;
        border-radius: 0;
    }


    #phone {
        display: none;
    }

    h1, h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
        margin: 0.5rem;
    }

    .carousel {
        width: 60%;
        height: auto;
    }

    .carousel-inner img {
        width: 100%;
        border-radius: 3rem;
    }

    .zoneTexte {
        background-color: rgba(246, 241, 235, 0.9);
        color: #303030;
        border-radius: 1.25;
    }

    @media (max-width: 1000px) {
        #desktop {
            display: none;
        }

        #phone {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 3rem;
            margin-top: 2.5rem;
        }

        .zone-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        h2 {
            margin-bottom: 0.5rem;
        }

        #imageAcceuil {
            width: 80%;
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            border-radius: 5rem 0;
        }
    }