*{
    margin: 0;
    padding: 0;
}

.top-svg {
    width: 20vh;
    /* background-color: yellow; */
    display: flex;
    justify-content: left;
}

.logo {
    margin-top: 2rem;
    width: 20rem;
    display: flex;
    justify-content: center;
}

h1 {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    font-weight: 400;
    letter-spacing: 1px;
}

.btn {
    display: flex;
    justify-content: center;
}

h1{
    vertical-align: center;
}

button {
    margin-top: 2rem;
    border-radius: 2rem;
    width: 15rem;
    height: 3rem;
    background-color: #225777;
    color: white;
    border: none;
}