<footer class="footer fixed-bottom">
  <div class="container-fluid d-flex justify-content-between ">
<div class="align-self-center mt-2 mb-2 planDuSite">
    <h5>Bébé Gourmet</h5>
    <ul class="flex-column list-group">
      <li>
        <a [routerLink]="['/home']" class="nav-link">Accueil</a>
      </li>
      <li>
        <a [routerLink]="['/aliment']" class="nav-link">Aliment</a>
      </li>
      <li>
        <a [routerLink]="['/profil-utilisateur']" class="nav-link">Mon compte</a>
    </ul>
  </div>

  <div class="align-self-center droitReserve">
    <p>2023 - @BébéGourmet - Tous droits réservés</p>
  </div>
  </div>
  
</footer>
