.profil-banner {
    background-color: #225777;
    color: white;
    height: 200px;
}

.zoneProfil {
    align-self: flex-end;
    margin: 20px;
}

.zoneVierge{
    width : 14rem;
}
p {
    margin: 5px;
    line-height: normal;
}

h1 {
    font-size: 24px;
}

.btnModifier {
    background-color: #BFDAD8;
    margin: 0;
    border-radius: 2rem;
    width: 8rem;
    height: 28px;
    color: #303030;
    border: none;
    font-size: 1rem;
}

.btnModifier:hover {
    background-color: #9CB3B1;
}


.zoneAvatar {
    text-align: center;
}

.avatar-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid;
    background-color: #982312;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

#avatar {
    width: 4.8rem;
    /* changement de la balise image par la balise de l'id, sinon conflit avec le svg en image*/
}

.svg {
    position: absolute;
    top: 0;
    left: 0;
}