.profil-banner {
  background-color: #225777;
  color: white;
  height: 12.5rem;
}

.zoneProfil {
  align-self: flex-end;
  margin: 1.25rem;
}
.contenair-profil {
  width: auto;
}

.zoneVierge {
  width: 14rem;
}

p {
  margin: 0.31rem;
  line-height: normal;
}

h1 {
  font-size: 1.5rem;
}

.btnModifier {
  background-color: #bfdad8;
  margin: 0;
  border-radius: 2rem;
  width: 8rem;
  height: 1.75rem;
  color: #303030;
  border: none;
  font-size: 1rem;
  margin-right: 1rem;
}

.btnSupprimer {
  margin: 0;
  border-radius: 2rem;
  width: 8rem;
  height: 1.75rem;
  border: none;
  font-size: 1rem;
  color: #ffffff;
  background-color: #982312;
}

.btnModifier:hover {
  background-color: #9cb3b1;
}

.btnSupprimer:hover {
  background-color: #d13017;
  box-shadow: 0rem 0rem 0rem 0.05rem #d13017;
}

.zoneAvatar {
  text-align: center;
}

.avatar-circle {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  border: solid;
  background-color: #982312;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  z-index: 2;
}

#avatar {
  width: 4.8rem;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
}

.tst {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

/* bouton retour */
.btnModeleRed {
  border-radius: 2rem;
  width: 100%;
  height: 1.75rem;
  border: none;
  font-size: 1rem;
  color: #ffffff;
  background-color: #982312;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.btnModeleRed:hover {
  background-color: #d13017;
  box-shadow: 0rem 0rem 0rem 0.05rem #d13017;
}

/* contenair pour info enfant */
.contenair-profil {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* class pour bouger le bouton */
.position {
  margin: 1.08rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

/* Media Queries */
@media only screen and (max-width: 48rem) {
  .tst {
    margin-bottom: 0.5rem;
    margin-top: 0.1rem;
  }

  .btnModifier {
    margin-right: 0rem;
  }
  .position {
    margin-bottom: 0;
    height: min-content;
  }
  .zoneProfil {
    margin: 0;
    overflow-y: auto;
    height: 80vh;
    z-index: 2;
  }
  .btnModeleRed {
    margin: 0;
  }
  .zoneAvatar {
    height: 12.5rem;
  }
  .contenair-profil {
    height: 12.5rem;
  }
  .bouton {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .zoneViergeResponsive {
    display: none;
  }
  h1 {
    z-index: 2;
  }
}