.container-title {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 70rem;
}

li {
    list-style-type: none;
    font-size: 14px;
    line-height: 16px;
    padding-left: 0;
}

.autre-info {
    width: 15%;
}

.container-aliments {
    width: 70%;
}

.btn {
    margin: 0;
    border-radius: 2rem;
    width: 54px;
    height: 28px;
    color: white;
    border: none;
    font-size: 8px;
}


.modifier {
    background-color: #225777;
    margin-right: 0.2rem;
}

.supprimer {
    background-color: #982312;
}

#btnAjouter {
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #225777;
    border: none;
    cursor: pointer;
    border-radius: 2rem;
    height: 28px;
    margin: 0;
    margin-bottom: 0.5rem;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

}


.scroller {
    width: auto;
    height: 1200px;
    overflow-y: scroll;
    scrollbar-width: auto;
}