.container-principal {
  margin-top: 0.5rem;
  width: 100%;
}

.container-title {
  width: 50vw;
}

.taille {
  width: 25%;
}

.btn-top {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-wrap: wrap;
  /*Responsive*/
}

h2 {
  width: 100%;
  padding: 0;
  line-height: 1.7;
  margin: 0;
}

.tst {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 70%;
  height: 3.5rem;
}

.ligne-shadow-hover :hover {
  font-weight: bolder;
}

li {
  list-style-type: none;
  font-size: 0.88rem;
  line-height: 1rem;
  padding-left: 0;
}

.autre-info {
  width: 15%;
}

.container-aliments {
  margin-top: 0.5rem;
  width: 70%;
  height: 60vh;
}

.btn {
  border-radius: 2rem;
  width: 3.38rem;
  color: white;
  border: none;
  font-size: 0.5rem;
}

.modifier {
  background-color: #225777;
  margin-right: 0.2rem;
}

.supprimer {
  background-color: #982312;
}

#btnAjouter {
  font-size: 1rem;
  color: #ffffff;
  background-color: #225777;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
  height: 2.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  white-space: nowrap;
  /*Empêche saut à la ligne */
  width: auto;
  /*Responsive*/
}

/* hover + shadow */
#btnAjouter:hover {
  background-color: #3b94cb;
  box-shadow: 0rem 0rem 0rem 0.05rem #3b94cb;
}

/* Fixer l'en-tête */
.scroller {
  overflow-y: auto;
  height: 60vh;
}

thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Media Queries */
@media only screen and (max-width: 48rem) {
    .container-principal {
        padding-bottom: 2rem;
    }

    .container-aliments {
        margin-left: 3rem;
        width: 95%;
        height: 60vh;
    }

  .container-title,
  .tst {
    width: 100%;
  }

    .container-title h2 {
        font-size: 1.2rem;
        /* Réduire la taille de la police */
        line-height: 1.3;
        /* Ajuster l'espacement entre les lignes */
        white-space: normal;
        /* Permettre le passage à la ligne */
    }

    #listeEnfant {
        padding-left: 2.5rem;
    }

    .tst {
        height: 2.5rem;
    }

  #btnAjouter {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
    white-space: nowrap;
    /*Empêche saut à la ligne */
    overflow: hidden;
    /* Cacher le texte qui dépasse */
    text-overflow: ellipsis;
    /* Trois petits */
    width: 100%;
  }

  table {
    margin-top: 0.8rem;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

    thead tr {
        position: absolute;
        top: -624.94rem;
        left: -624.94rem;
    }

  td {
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
    width: auto;
    line-height: 1rem;
  }

    td:before {
        position: absolute;
        top: 0.38rem;
        left:0.38rem;
        width: 45%;
        padding-right: 0.63rem;
        font-weight: bold;
        white-space: nowrap;
        text-align: left;
        content: attr(data-title)
    }
}
