<div class="container-fluid d-flex row justify-content-center container-principal">
  <div class="container-title">
    <h1 class="text-center">Liste des aliments</h1>
  <button *ngIf="profilUtilisateur" id="btnAjouter" [routerLink]="['/aliment/ajouter']" routerLinkActive="router-link-active" >Ajouter un aliment</button>
  </div>

  <div class="container-aliments card">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Libellé</th>
          <th class="autre-info">A partir de</th>
          <th class="autre-info">Catégorie</th>
          <th class="autre-info">Saison</th>
          <th class="autre-info">Restriction</th>
          <th *ngIf="profilUtilisateur" class="autre-info"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aliment of aliments">
          <td>{{ aliment.libelle }}</td>
          <td>{{ aliment.age_introduction }} mois</td>
          <td>{{ aliment.category.libelle }}</td>
          <td>
            <ul class ="list-group">
              <li *ngFor="let saison of aliment.saisons">
                {{ saison.libelle }}
              </li>
            </ul>
          </td>
          <td>
            <ul class ="list-group">
              <li *ngFor="let restriction of aliment.restrictions">
                {{ restriction.libelle }}
              </li>
            </ul>
          </td>
          <td *ngIf="profilUtilisateur" class="d-flex justify-content-center">
            <button class="btn modifier">Modif {{aliment.id}}</button>
            <button class="btn supprimer">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
