<div
  class="container-fluid d-flex row justify-content-center container-principal"
>
  <div class="tst">
    <div class="taille"></div>

    <div class="container-title">
      <h2 *ngIf="!enfant">Liste des aliments</h2>
      <h2 *ngIf="enfant" style="font-size: 1.2rem;">Liste des aliments adaptée à {{enfant.prenom}}</h2>
    </div>

    <div class="btn-top taille">
      <button
        *ngIf="profilUtilisateur"
        id="btnAjouter"
        [routerLink]="['/aliment/ajouter']"
        routerLinkActive="router-link-active"
        class="">
        Ajouter un aliment
      </button>
    </div>
  </div>
  <div class="container-aliments card">
    <div class="scroller">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Libellé</th>
            <th class="autre-info">A partir de</th>
            <th class="autre-info">Catégorie</th>
            <th class="autre-info">Saison</th>
            <th *ngIf="profilUtilisateur" class="autre-info"></th>
          </tr>
        </thead>
        <tbody class="ligne-shadow-hover">
          <tr *ngFor="let aliment of aliments">
            <td data-title="Libellé">{{ aliment.libelle }}</td>
            <td data-title="A partir de">{{ aliment.age_introduction }} mois</td>
            <td data-title="Catégorie">{{ aliment.category.libelle }}</td>
            <td data-title="Saison">
              <ul class="list-group">
                <li *ngFor="let saison of aliment.saisons">
                  {{ saison.libelle }}
                </li>
              </ul>
            </td>
            <td *ngIf="profilUtilisateur" class="">
              <button
                class="btn modifier"
                [routerLink]="['/aliment/modifier/', aliment.id]"
              >
                Modif.
              </button>
              <button
                class="btn supprimer"
                [routerLink]="['/aliment/supprimer/', aliment.id]"
              >
                Suppr.
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>