.container-principal {
    margin-top: 0.5rem;
    width: 100%;
}

.container-title {
    width: 50vw;
}

.taille {
    width: 25%;
}

.btn-top {
    display: flex;
    justify-content: right;
    align-items: center;
}

h2 {
    width: 100%;
    padding: 0;
    line-height: 1.7;
    margin: 0;
}

.tst {
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 70%;
    height: 3.5rem;
}

.ligne-shadow-hover :hover {
    font-weight: bolder;
}

li {
    list-style-type: none;
    padding-left: 0;
}

.autre-info {
    width: 15%;
}

.container-aliments {
    margin-top: 0.5rem;
    width: 70%;
    height: 60vh;
}


.btn {
    border-radius: 2rem;
    width: 3.38rem;
    /* height: 1.75rem; */
    color: white;
    border: none;
    font-size: 0.5rem;
}


.modifier {
    background-color: #225777;
    margin-right: 0.2rem;
}

.supprimer {
    background-color: #982312;
}

#btnAjouter {
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #225777;
    border: none;
    cursor: pointer;
    border-radius: 2rem;
    height: 2.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.scroller {
    width: auto;
    height: 75rem;
    overflow-y: scroll;
    scrollbar-width: auto;
}