* {
    background-color: #225777;
    color: #F6F1EB;

}

nav {
    font-size: 1.25trm;
    border-bottom: rgba(0, 0, 0, 0.2) solid;
}

#logoNavBar {
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
}

.logoOnglet {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.1rem;
}

.nav-item:hover {
    font-weight: bolder;
    transform: scale(1.1);
    /* Agrandit l'élément au survol */
}