<app-navbar></app-navbar>

<div
  class="d-flex flex-column align-items-center justify-content-center text-center"
  style="height: 80vh"
>
  <div>
    <h1>ERREUR 404</h1>
  </div>

  <div>
    <img
      src="../../../assets/img 404.jpg"
      alt="une bébé déguisé en chef cuisinier dans une marmitte"
    />
  </div>

  <div>
    <p>
      La page demandée n’existe pas. Veuillez retourner à la
      <a [routerLink]="['/home']">page d’accueil</a>.
    </p>
  </div>
</div>

<app-footer></app-footer>
