.mainContainer {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

::placeholder,
label {
  color: #303030;
}

h2 {
  font-size: medium;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  width: 100%;
}

.style-input {
  background-color: rgba(34, 87, 119, 0.2);
  border-radius: 1.88rem;
  border: none;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding-left: 2.5rem;
  width: 50rem;
  height: 2.7rem;
}

.position-input {
  display: flex;
  justify-content: center;
}

.box {
  background-color: rgba(34, 87, 119, 0.2);
  border-radius: 1.88rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50rem;
  margin-top: 0.5rem;
  padding: 1.5rem;
}

.position {
  width: 15rem;

  margin-top: 0.3rem;
}

/* changement du nom des class liées au bouton confirmer */
.btnModele {
  font-size: 1rem;
  color: #ffffff;
  background-color: #225777;
  border: none;
  cursor: pointer;
  border-radius: 1.88rem;
  width: 12rem;
  height: 2.5rem;
  margin-bottom: 0.5rem;
}

/* ajout de la class du bouton retour */
.btnModeleRed {
  font-size: 1rem;
  color: #ffffff;
  background-color: #982312;
  border: none;
  cursor: pointer;
  border-radius: 1.88rem;
  width: 12rem;
  height: 2.5rem;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}

.btnModeleRedKO {
  margin-left: 0;
  margin-top: 1.5rem;
}

.texte-creationKO {
  text-align: center;
  margin: auto;
}

.checkbox-space {
  margin-left: 1rem;
}

label {
  cursor: pointer;
}

/* hover + shadow */
.btnModele:hover {
  background-color: #3b94cb;
  box-shadow: 0rem 0rem 0rem 0.05rem #3b94cb;
}

/* hover + shadow */
.btnModeleRed:hover {
  background-color: #d13017;
  box-shadow: 0rem 0rem 0rem 0.05rem #d13017;
}

.marginBouton {
  margin: 1.5rem;
}

/* Media Queries */
@media only screen and (max-width: 48rem) {
  .style-input {
    width: 90vw;
  }

  h1 {
    margin-bottom: 1.4rem;
  }

  .marginBouton {
    margin: 0;
    margin-top: 1.5rem;
  }

  .btn {
    width: 37.5vw;
  }

  .box {
    display: block;
    overflow: auto;
    width: auto;
    height: 8rem;
    border-radius: 1.88rem;
    padding: 0.40rem 0.75rem 0.75rem 2.5rem;
  }

  .boxCreationKO {
    width: 90vw;
    height: 9rem;
    padding: 1.4rem 0.75rem 0.4rem 0.6rem;
    line-height: 1.2rem;
  }

}


@media (min-width: 60rem) {
  .mainContainer {
    margin-top: 8rem;
  }
}