<app-navbar></app-navbar>
<div class="mainContainer container-principal">

    <div class="textBienvenue">
    <h1>Bienvenue</h1>
    <p>Inscrivez-vous pour profiter de toutes les fonctionnalités.</p>
    </div>

    <form (ngSubmit)="inscrire()">
        <div class="form-group">
        <input type="text" class="form-control shadow-sm" [(ngModel)]="utilisateur.nom" name="nom" placeholder="Nom">
        </div>
        <div class="form-group">
        <input type="text" class="form-control shadow-sm" [(ngModel)]="utilisateur.prenom" name="prenom" placeholder="Prénom">
        </div>
        <div class="form-group">
        <input type="text" class="form-control shadow-sm" [(ngModel)]="utilisateur.email" name="email" placeholder="Email">
        </div>
        <div class="form-group">
        <input type="password" class="form-control shadow-sm" [(ngModel)]="utilisateur.mot_de_passe" name="mot_de_passe" placeholder="Mot de passe">
        </div>     

        <button type="submit" class="btn btn-primary">S'enregistrer</button>
    </form>

    <div class="lienConnexion">
        <p >Déjà un compte ? <a href="/profil-utilisateur">Connectez-vous</a> 
    </div>
   
</div>
<app-footer></app-footer>