.filterbar {
  position: absolute;
  top: 8em;
  left: 0;
  width: 0;
  overflow: hidden;
  transition: width 0.3s;
  z-index: 2;
}

.filterbar.open {
  width: 14rem;
  left: 2rem;
}

#btnFilterBarUtilisateur {
  position: absolute;
  top: 12rem;
  left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 50vh;
  width: 2rem;
  background-color: #225777;
  color: #fff;
  border: none;
  border-radius: 0 50% 50% 0;
  cursor: pointer;
  font-size: 1rem;
  z-index: 2;
}

#btnFilterBarUtilisateur:hover {
  background-color: #3b94cb;
  box-shadow: 0rem 0rem 0rem 0.05rem #3b94cb;
}

#btnFilterBarEnfant {
  position: absolute;
  top: 20rem;
  left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 20vh;
  width: 2rem;
  background-color: #225777;
  color: #fff;
  border: none;
  border-radius: 0 50% 50% 0;
  cursor: pointer;
  font-size: 1rem;
  z-index: 2;
}

.accordion-body {
  height: 1rem;
  display: flex;
  align-items: center;
}

label {
  padding-left: 0.31rem;
}

.accordion-button {
  height: 1rem;
}

.form-check {
  margin-left: 1.3rem;
}


/* Media Queries */
@media only screen and (max-width: 48rem) {
  #btnFilterBarEnfant {
    top: 16rem;
  }

  #btnFilterBarUtilisateur {
    top: 10rem;
  }

  .filterbar {
    top: 4rem;
  }

  #btnFilterBarUtilisateur:hover {
    background-color: #225777;
  }

  .vertical {
    writing-mode: vertical-lr;
    margin-top: 0.65rem;
   text-orientation: upright;
   white-space: nowrap;
   letter-spacing: -0.2rem;
   text-align: center;
   color:rgb(237,228,223);
  }
}