.mainContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 7.5rem;
}

#btnSupprimer {
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #225777;
    border: none;
    cursor: pointer;
    border-radius: 1.88rem;
    width: 12rem;
    height: 2.5rem;
    margin-bottom: 0.5rem;
}

.btnAnnuler {
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #982312;
    border: none;
    cursor: pointer;
    border-radius: 1.88rem;
    width: 12rem;
    height: 2.5rem;
    margin-bottom: 0.5rem;
}

button {
    margin: 0 4.38rem;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 2.5rem;
    font-size: 1.5rem;
}