<app-navbar></app-navbar>
<div class="mainContainer">
  <div>
    <h1>Mise à jour du profil de {{ majusculeFirst() }}</h1>
  </div>

  <form (ngSubmit)="ajoutEnfant()">
    <div class="form-group position-input">
      <input
        [(ngModel)]="enfant.prenom"
        type="text"
        class="form-control shadow-sm style-input"
        name="prenom"
        placeholder="Prénom *"
        readonly
      />
    </div>
    <div class="form-group position-input">
      <input
        [(ngModel)]="enfant.date_naissance"
        type="date"
        class="form-control shadow-sm style-input input-date"
        name="date_naissance"
        readonly
      />
    </div>

    <div style="text-align: center">
      <p style="margin-bottom: 0">Allergies ou Restrictions ?</p>
    </div>

    <div class="box shadow-sm">
      <div *ngFor="let restrict of restriction" class="position">
        <input
          type="checkbox"
          value="{{ restrict | json }}"
          [id]="restrict.libelle"
          (change)="onChangeRestric($event)"
          class="width-check"
        />
        <label class="checkbox-space" [for]="restrict.libelle">{{
          restrict.libelle
        }}</label>
      </div>
    </div>

    <!--Ajout d'une div pour rassembler les 2 boutons avec class btstrap, 
      remplacement du bouton confimer pour coorelation avec les autres (class nom etc...),
       et ajout du bouton retour avec routerlink,
     modif btstrap center-->
    <div class="form-group d-flex justify-content-center marginBouton">
      <button type="submit" class="btn btn-primary btnModele">Confirmer</button>

      <button
        [routerLink]="['/profil-utilisateur/child/', enfant.id]"
        type="button"
        class="btn btn-color btn-block btnModeleRed"
      >
        Retour
      </button>
    </div>
  </form>
</div>

<app-footer></app-footer>
