<app-navbar></app-navbar>
<div class="mainContainer">
  <div class="">
    <h1>Mise à jour du profil de {{ enfant.prenom }}</h1>
  </div>

  <form (ngSubmit)="ajoutEnfant()">
    <div class="form-group position-input">
      <input
        [(ngModel)]="enfant.prenom"
        type="text"
        class="form-control shadow-sm style-input"
        name="prenom"
        placeholder="Prénom *"
        readonly
      />
    </div>
    <div class="form-group position-input">
      <input
        [(ngModel)]="enfant.date_naissance"
        type="date"
        class="form-control shadow-sm style-input"
        name="date_naissance"
        readonly
      />
    </div>

    <div class="box shadow-sm">
      <div *ngFor="let restrict of restriction" class="position">
        <input
          type="checkbox"
          value="{{ restrict | json }}"
          [id]="restrict.libelle"
          (change)="onChangeRestric($event)"
          class="width-check"
        />
        <label class="checkbox-space" [for]="restrict.libelle">{{
          restrict.libelle
        }}</label>
      </div>
    </div>

    <button type="submit" class="btn btn-primary btnModele">Modifier</button>
  </form>
</div>

<app-footer></app-footer>