.button-shadow-hover:not(.card-enfant *):hover {
    box-shadow: 0 0 0.94rem -0.25rem#225777;
}

p {
    color: #982312;
    font-weight: 600;
    font-size: 1.5rem;
}

.card-enfant {
    margin: 1rem;
}

.card {
    border-radius: 1.25rem;
    width: 25rem;
    height: 11.25rem;
}

img {
    padding: 0.63rem;
}

button {
    border-radius: 1.25rem;
    border: none;
    width: 25rem;
    height: 11.25rem;
    margin: 1rem;
}

@media (max-width: 48rem) {  
    .card-enfant{
        width: 21.5rem;
    }
}