.button-shadow-hover:not(.card-enfant *):hover {
    box-shadow: 0px 0px 15px -4px #225777;
}

p {
    color: #982312;
    font-weight: 600;
    font-size: 1.5rem;
}

.card-enfant {
    margin: 1rem;
}

.card {
    border-radius: 1.25rem;
    width: 25rem;
    height: 11.25rem;
}

img {
    padding: 10px;
}

button {
    border-radius: 1.25rem;
    border: none;
    width: 25rem;
    height: 11.25rem;
    margin: 1rem;
}