.profil-banner {
    background-color: #225777;
    color: white;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.zoneProfil {
    align-self: flex-end;
    margin: 20px;

}

.btnDeconnect {
    background-color: #982312;
    margin: 0;
    border-radius: 2rem;
    width: 8rem;
    height: 28px;
    color: white;
    border: none;
    font-size: 1rem;
}


.btnDeconnect:hover {
    background-color: #B12612;
}

.admin-indicator {
    font-size: 1rem;
}

.zoneInitalHello {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: -7rem;
}

.initials-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid;
    background-color: #982312;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.zoneEmail {
    align-self: flex-start;
    margin-left: 30px;
}

#userEmail {
    margin-bottom: 1rem;
}