.mainContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 3.5rem;
}

.card {
    align-items: center;
    text-align: center;
    border-radius: 1.2rem;
    height: 12rem;
    width: 20rem;
    box-shadow: 0 0 0.94rem -0.25rem #225777;
    background-size: cover;
    background-image: url(../../../assets/CrabeBleu.jpg);
    opacity: 25%;
}

h2 {
    color: #982312;
    margin-top: 1.5rem;
}


#btnSupprimer {
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #225777;
    border: none;
    cursor: pointer;
    border-radius: 1.88rem;
    width: 12rem;
    height: 2.5rem;
    margin-bottom: 1.5rem;
}

.btnAnnuler {
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #982312;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    width: 12rem;
    height: 2.5rem;
    margin-bottom: 1.5rem;
}

button {
    margin: 0 4.38rem;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 1rem;
    font-size: 1.5rem;
}