<app-navbar></app-navbar>

<div class="d-flex background">

  <app-filter-bar
    class="pt-2"
    [tabCategories]="tabCategories"
    [tabAges]="tabAges"
    [tabRestrictions]="tabRestrictions"
    [tabSaisons]="tabSaisons"
    (newCaterogieEvent)="onFiltreCategorie($event)"
    (newAgeEvent)="onFiltreAge($event)"
    (newRestrictionEvent)="onFiltreRestrictions($event)"
    (newSaisonEvent)="onFiltreSaisons($event)"
  ></app-filter-bar>

  <div>
    <div class="m-1">
    <app-search-bar (searchFilter)="onSearchValue($event)"></app-search-bar>

     <app-liste-aliment
    [aliments]="alimentsToDisplayFilter"
    [profilUtilisateur]="profilUtilisateur"
  ></app-liste-aliment>
  </div>
 

</div>

<app-footer></app-footer>
